{% extends 'base.html' %}

{% block content %}

     

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Page</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Home Page about Page</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for post in posts %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ post.rasm.url }}" alt="..." width="200" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <hr>
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ post.nomi }}</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Batafsil</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
  

       {% endblock content %}